/* Footer Media Queries */
@media (max-width: 48rem) {
    .footer-content {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
    

    
    .footer-bottom {
      flex-direction: column;
      text-align: center;
    }
    
    .footer-menu {
      justify-content: center;
    }
}
